{% extends 'base.html' %}

{% block header %}
  {% block title %}Welcome{% endblock %}
{% endblock %}

{% block content %}
  <div class="row align-items-center">
    <div class="col text-center">
      Welcome to the IoHT Wisconsin Reasearch Project. This website is the entry point to access your customized dashboard. Sign in using the link here or at the navbar above. Once signed in, you can navigate to your personal dashboard! Enjoy!
    </div>
    <div class="col text-center">
  {% if g.user %}
    <a href="/dashboard/" class="p-2 btn btn-outline-success btn-large font-monospace">View your dashboard</a>
  {% else %}
    <a href="{{ url_for('auth_bp.login') }}" class="p-2 btn btn-outline-success btn-large font-monospace">Sign in</a>
  {% endif %}
    </div>
  </div>
{% endblock %}